.anchor-pane {
    -fx-background-color: #f4f4f4;
    -fx-padding: 10;
    -fx-border-color: #c3c3c3;
    -fx-border-width: 1;
}


.label {
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-padding: 5;
}


.button {
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-text-fill: white;
    -fx-background-color: #4CAF50;
    -fx-background-radius: 5;
    -fx-border-color: #3e8e41;
    -fx-border-radius: 5;
    -fx-padding: 10 20;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #45a049;
}

.button:pressed {
    -fx-background-color: #3e8e41;
}


.progress-bar {
    -fx-accent: #4CAF50;
    -fx-control-inner-background: #e0e0e0;
    -fx-border-color: #c3c3c3;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.vbox {
    -fx-background-color: #ffffff;
    -fx-padding: 20;
    -fx-spacing: 10;
}
